.product-information-container {
  padding: 1rem;
  row-gap: 2rem;
  column-gap: 0;
}

.product-information-specifications li:nth-child(even) {
  background-color: var(--gradient-base-background-2);
}

.product-information-specifications {
  margin: 1.5rem 0;
}

.product-information-specifications p {
  margin: 0;
}

.product-information-specifications li {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0 0.4rem;
}

.product-information-specifications li b,
.product-information-specifications li span {
  width: 50%;
  padding-right: 0.4rem;
}

.product-information-specifications li span {
  text-align: right;
}

/* Product readmore / collapse */
.product-information-left .panel,
.product-information-right .panel {
  display: none;
}

.product-description-information .button {
  display: none;
}

.product-information-button {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-information-button .icon {
  width: 1.6rem;
}

.product-information-button.active .icon {
  transform: rotate(180deg);
}
@media screen and (min-width: 750px) {
  .product-information-button .icon {
    display: none;
  }

  .product-information-left .panel,
  .product-information-right .panel {
    display: block !important;
  }

  .product-information-button {
    pointer-events: none;
  }

  .product-description-information .button {
    display: flex;
    margin: 0 auto;
  }

  .product-information-container {
    margin: 0 auto;
    padding: 0 1rem;
    max-height: 32rem;
    overflow: hidden;
  }

  .product-information-container.is-open {
    max-height: 100%;
  }

  .product-information-container .product-information-left {
    max-width: 50%;
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .product-information-container .product-information-right {
    max-width: 50%;
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    padding: 0 0 0 5rem;
  }

  .product-information-specifications li span {
    text-align: left;
  }
}

@media screen and (min-width: 990px) {
  .product-information-container .product-information-left {
    max-width: 45%;
    width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .product-information-container .product-information-right {
    max-width: 55%;
    width: calc(55% - var(--grid-desktop-horizontal-spacing) / 2);
    padding: 0 0 0 5rem;
  }
}